
















/*פןפ אפ סל קניות*/
.cartBoxXX {
    position: fixed;
    right: 23%;
    top: 12%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: 0.3s linear;
    transform: scale(0);
}

@media only screen and (max-width: 1200px) {
    .cartBoxXX {
        width: auto;
        right: 6%;
        top: 15%;
    }
}

.cartBoxXX.active {
    transform: scale(1);
}

.cartBoxXX .cartVV {
    overflow-y: scroll;
    max-height: 60vh;
    -webkit-overflow-scrolling: touch;
    position: relative;
    height: 25vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgb(65, 59, 54);
    border-radius: 2%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartBox .cartVV i {
    position: absolute;
    right:5px;
    top: 0;
    background: #f00;
    margin: 1%;
    padding: 10px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}


.cartBoxXX .cartVV i:hover {
    background: #ff0000a5;
}

.cartBoxXX .cartVV h1 {
    position: relative;
    font-size: 30px;
    margin-top:1%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
}


.cartVV table a {
    background: rgb(255, 0, 0);
    border-radius: 10%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}

.cartVV img{
    width: 40px;
    height: 40px;
}

.BoxIt {
    border: 5px dashed orange;
    background: whitesmoke;
    opacity: 0.6;
    font-family: "Luckiest Guy", cursive;
}

.xx {
    color: coral;
    font-size: 15px;
}


.ss {
    color: darkcyan;
    font-size: 15px;

}

.vv {
    color: rgb(255, 0, 234);
    font-size: 15px;
}








/*פןפ אפ סל קניות*/
.cartBox {
    position: fixed;
    right: 23%;
    top: 12%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: 0.3s linear;
    transform: scale(0);
}

@media only screen and (max-width: 1200px) {
    .cartBox {
        width: auto;
        right: 6%;
        top: 15%;
    }
}

.cartBox.active {
    transform: scale(1);
}

.cartBox .cart {
    overflow-y: scroll;
    max-height: 60vh;
    -webkit-overflow-scrolling: touch;
    position: relative;
    height: 25vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 5px solid rgb(65, 59, 54);
    border-radius: 2%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartBox .cart i {
    position: absolute;
    right: 5px;
    top: 0;
    background: #f00;
    margin: 1%;
    padding: 10px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}


.cartBox .cart i:hover {
    background: #ff0000a5;
}

.cartBox .cart h1 {
    position: relative;
    font-size: 30px;
    margin-top: 1%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
}


.cart table a {
    background: rgb(255, 0, 0);
    border-radius: 10%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}

.cart img {
    width: 40px;
    height: 40px;
}

.BoxIt {
    border: 5px dashed orange;
    background: whitesmoke;
    opacity: 0.6;
    font-family: "Luckiest Guy", cursive;
}

.xx {
    color: coral;
    font-size: 15px;
}


.ss {
    color: darkcyan;
    font-size: 15px;

}

.vv {
    color: rgb(255, 0, 234);
    font-size: 15px;
}





